<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Roboto+Condensed:300,400,700&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- start top-nav  -->

    <div class="top-nav">
        <nav class="top-nav__menu navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a href="index.html" class="navbar-brand">
                    <img src="images/logo.png" alt="">
                    <span class="top-nav__logo-text ml-2">plný měšec</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="top-nav__dropdown collapse navbar-collapse bg-white" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mr-lg-3"><a href="#" class="top-nav__link nav-link">jak to funguje</a></li>
                        <li class="nav-item mr-lg-3"><a href="#" class="top-nav__link nav-link">o nás</a></li>
                        <li class="nav-item mr-lg-3"><a href="#" class="top-nav__link nav-link">časté dotazy</a></li>
                        <li class="nav-item"><a href="#" class="top-nav__link nav-link">kontakt</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- end top-nav -->

    <!-- start hero -->

    <section class="hero py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <form class="hero__form">
                        <div class="form-group">
                            <input type="submit" class="hero__submit" value="ODESLÁNÍ APLIKACE">
                        </div>
                        <p class="very-small">Curabitur rutrum nibh felis, at condimentum purus luctus id. Vestibulum eu euismod neque. Suspendisse ultricies sed libero id venenatis. Donec aliquam lobortis eleifend. Vestibulum at interdum enim. Fusce volutpat commodo urna. Nulla egestas laoreet pharetra. Integer ac dictum dui. Quisque varius lectus quis metus dictum accumsan.</p>
                    </form>
                </div>
                <div class="col-lg-6 order-first order-lg-last">
                    <div class="row">
                        <div class="col-lg-6">
                            <h1 class="hero__h1">Najlepsi transparentni rychla</h1>
                            <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit Cras consectetur. Donec et ex et augue.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end hero -->

    <!-- start services -->

    <section class="services">
        <div class="container">
            <div class="row">
                <div class="services__item col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <img class="services__photo" src="images/service_1.png" alt="">
                    <h2 class="services__h2">půjčka do 100.000 kč<br>na cokoliv</h2>
                    <p class="services__p small">Quis nostrud exercitation ullam Exceptuipisci velit, sed quia non numquambore et dolore</p>
                </div>
                <div class="services__item col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <img class="services__photo" src="images/service_2.png" alt="">
                    <h2 class="services__h2">rychlé schválení<br>žádosti</h2>
                    <p class="services__p small">Quis nostrud exercitation ullam Exceptuipisci velit, sed quia non numquambore et dolore</p>
                </div>
                <div class="services__item col-lg-3 col-md-6 mb-4 mb-md-0">
                    <img class="services__photo" src="images/service_3.png" alt="">
                    <h2 class="services__h2">možnost předčasného<br>splacení</h2>
                    <p class="services__p small">Quis nostrud exercitation ullam Exceptuipisci velit, sed quia non numquambore et dolore</p>
                </div>
                <div class="services__item col-lg-3 col-md-6">
                    <img class="services__photo" src="images/service_4.png" alt="">
                    <h2 class="services__h2">nezávazna žádost<br>z pohodlí domova</h2>
                    <p class="services__p small">Quis nostrud exercitation ullam Exceptuipisci velit, sed quia non numquambore et dolore</p>
                </div>
            </div>
        </div>
    </section>

    <!-- end services -->

    <!-- start reference -->

    <section class="reference">
        <div class="container">
            <h2 class="reference__h2">Reference</h2>
            <div id="reference-carousel" class="reference__slider carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="reference__photo col-lg-6 px-0">
                                <a class="reference__arrow reference__arrow--prev" href="#reference-carousel" role="button"  data-slide="prev">
                                    <span class="reference__icon carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="reference__arrow reference__arrow--next" href="#reference-carousel" role="button"  data-slide="next">
                                    <span class="reference__icon carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="reference__content col-lg-6">
                                <p class="reference__p small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis quam tincidunt, pulvinar nisi accumsan, faucibus ante. Curabitur tempus accumsan mi sed viverra. Integer dignissim fermentum lectus, at imperdiet turpis varius vitae. Suspendisse potenti.</p>
                                <h3 class="mb-0">Rychlacek Sincopki</h3>
                                <span class="reference__span">ucitel z prahy</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="reference__photo col-lg-6 px-0">
                                <a class="reference__arrow reference__arrow--prev" href="#reference-carousel" role="button"  data-slide="prev">
                                    <span class="reference__icon carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="reference__arrow reference__arrow--next" href="#reference-carousel" role="button"  data-slide="next">
                                    <span class="reference__icon carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="reference__content col-lg-6">
                                <p class="reference__p small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis quam tincidunt, pulvinar nisi accumsan, faucibus ante. Curabitur tempus accumsan mi sed viverra. Integer dignissim fermentum lectus, at imperdiet turpis varius vitae. Suspendisse potenti.</p>
                                <h3 class="mb-0">Rychlacek Sincopki</h3>
                                <span class="reference__span">ucitel z prahy</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="reference__photo col-lg-6 px-0">
                                <a class="reference__arrow reference__arrow--prev" href="#reference-carousel" role="button"  data-slide="prev">
                                    <span class="reference__icon carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="reference__arrow reference__arrow--next" href="#reference-carousel" role="button"  data-slide="next">
                                    <span class="reference__icon carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <div class="reference__content col-lg-6">
                                <p class="reference__p small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis quam tincidunt, pulvinar nisi accumsan, faucibus ante. Curabitur tempus accumsan mi sed viverra. Integer dignissim fermentum lectus, at imperdiet turpis varius vitae. Suspendisse potenti.</p>
                                <h3 class="mb-0">Rychlacek Sincopki</h3>
                                <span class="reference__span">ucitel z prahy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end reference -->

    <!-- start footer -->

    <footer class="footer">
        <div class="footer__top">
            <div class="container">
                <div class="row">
                    <div class="footer__item col-lg-6">
                        systém podnikového řízení creditonline &copy;2018
                    </div>
                    <div class="footer__item col-lg-6">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-2 mr-lg-5">
                                <a class="footer__link pr-2 py-2 pl-0 pl-lg-2" href="#">polityka prywatności</a>
                            </li>
                            <li class="list-inline-item mr-2 mr-lg-5">
                                <a class="footer__link" href="#">regulamin</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="footer__link" href="#">wzór umowy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- end footer -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>