<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jak to funguje</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Roboto+Condensed:300,400,700&amp;subset=latin-ext">
</head>
<body>
    <!-- start top-nav  -->

    <nav class="top-nav navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a href="/" class="logo navbar-brand">
                <img src="images/logo.png" alt="">
                <span class="logo__text ml-md-2 mb-1">plný měšec</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="top-nav__dropdown collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="top-nav__menu navbar-nav ml-auto">
                    <li class="nav-item mr-lg-3"><a href="/" class="top-nav__link"><img src="images/home.png" alt=""></a></li>
                    <li class="nav-item mr-lg-3"><a href="jak-to-funguje" class="top-nav__link">jak to funguje</a></li>
                    <li class="nav-item mr-lg-3"><a href="o-nas" class="top-nav__link">o nás</a></li>
                    <li class="nav-item mr-lg-3"><a href="caste-dotazy" class="top-nav__link">časté dotazy</a></li>
                    <li class="nav-item"><a href="kontakt" class="top-nav__link">kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- end top-nav -->

    <!-- start jak-to-funguje -->

    <section class="jak-to-funguje">
        <div class="header">
            <div class="container">
                <h1 class="header__h1">Jak to funguje</h1>
            </div>
        </div>
        <div class="container py-5">
            <div class="row jak-to-funguje__item">
                <div class="col-lg-4 jak-to-funguje__circle jak-to-funguje__line">
                    <img src="images/jak-to-funguje_1.png" alt="" class="jak-to-funguje__img">
                </div>
                <div class="col-lg-6 jak-to-funguje__content">
                    <h2 class="jak-to-funguje__h2">Ve dvou vyplnte registracni formular.</h2>
                    <p class="small">Zde zdajte Vase jmeno, rodne cislo, emailovou adresu, cislo mobilniho telefonu a dalsi doplnujici informace</p>
                    <p class="small">Po takto uspnesne registraci v dalsim kroku ptvrdte Vami zwolencu vysl a trvani pujcky</p>
                    <h2 class="jak-to-funguje__h2">Vase zadost bude vyrizena v co nejkratsi mozne dobe.</h2>
                    <p class="small">Vase prihlasovaci udaje pro pristup do uzivatelske zony Vam byly odeslany na Vas email a mobilni telefon</p>
                </div>
            </div>
            <div class="row jak-to-funguje__item">
                <div class="col-lg-4 jak-to-funguje__circle jak-to-funguje__line">
                    <img src="images/jak-to-funguje_2.png" alt="" class="jak-to-funguje__img">
                </div>
                <div class="col-lg-6 jak-to-funguje__content">
                    <h2 class="jak-to-funguje__h2">V nastroji pro vyber v uzivatelske zone, vyberte pozadovanou vysi a delku pujcky.</h2>
                    <p class="small">Minimalni castka je 10.000 Kc a maxmalni 100.000 Kc. Minimalni doba je 12 mesicu a maximalni doba je 48 mesicu.</p>
                    <p class="small">Pote kliknete na tiacitko CHCI PUJCKU.</p>
                </div>
            </div>
            <div class="row jak-to-funguje__item">
                <div class="col-lg-4 jak-to-funguje__circle">
                    <img src="images/jak-to-funguje_3.png" alt="" class="jak-to-funguje__img">
                </div>
                <div class="col-lg-6 jak-to-funguje__content jak-to-funguje__content--auto">
                    <p class="small">V pripade kladne vyrizeni Vasi zadosti Vas budeme kontaktoval a obdrzite informace nutne k podpisu smlouvy. Smlouva Vam bude dorucena postou nebo nasim kurynem</p>
                    <h2 class="jak-to-funguje__h2">Po podpisu smlouvy Vam budou penize neprodlene prevedeny na Vas bankovni ucet.</h2>
                    <p class="small">Informaci o prevodu penez na Vas ucet obdrzite pomoci SMS zprawy a e-mailu.</p>
                    <p class="small">Uz se jen ujstete, ze jste obdrzeli pozadovanou castku na Vas bankovni ucet.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- end jak-to-funguje -->

    <!-- start contact -->
            
    <section class="contact contact--blue">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <a href="index.html" class="logo">
                        <img src="images/logo_2.png" alt="">
                        <span class="logo__text ml-2">plný měšec</span>
                    </a>
                    <h2 class="contact__h2 mt-3">pronto credit s.r.o</h2>
                    <p class="contact__p small mb-2">rok zalozeni 2007</p>
                    <p class="contact__p small">spolecnosc je zapsana</p>
                    <p class="contact__p small">v obchodnim rejstriku vedenem</p>
                    <p class="contact__p small">mestskym soudem v praze pod</p>
                    <p class="contact__p small">spisovou znackou c 214024</p>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <img src="images/marker_2.png" alt="">
                    <h2 class="contact__h2 mt-3">sidlo spolecnosti</h2>
                    <p class="contact__p small">rybna 716/24</p>
                    <p class="contact__p small">stare mesto</p>
                    <p class="contact__p small">110 00 praha</p>
                    <p class="contact__p small">1ic: 275 25 210</p>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <img src="images/mail_2.png" alt="" class="mt-2">
                            <h2 class="contact__h2 mt-3">e-mail adresa</h2>
                            <p class="contact__p small">info@prontopujcka.cz</p>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <img src="images/phone_2.png" alt="" class="mt-3">
                            <h2 class="contact__h2 mt-3">telefonni spojeni</h2>
                            <p class="contact__p small">+420 778 000 002</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end contact -->
    
    <!-- start footer -->

    <footer class="footer footer--two">
        <div class="container">
            <div class="row">
                <div class="footer__item col-lg-6">
                    systém podnikového řízení creditonline &copy;2018
                </div>
                <div class="footer__item col-lg-6">
                    <div class="row">
                        <div class="col-md-auto">
                            <a class="footer__link" href="#">polityka prywatności</a>
                        </div>
                        <div class="col-md-auto">
                            <a class="footer__link" href="#">regulamin</a>
                        </div>
                        <div class="col-md-auto">
                            <a class="footer__link" href="#">wzór umowy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- end footer -->
</body>
</html>