<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrace 2</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Roboto+Condensed:300,400,700&amp;subset=latin-ext">
</head>
<body>
    <!-- start top-nav  -->

    <nav class="top-nav navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a href="/" class="logo navbar-brand">
                <img src="images/logo.png" alt="">
                <span class="logo__text ml-md-2 mb-1">plný měšec</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="top-nav__dropdown collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="top-nav__menu navbar-nav ml-auto">
                    <li class="nav-item mr-lg-3"><a href="/" class="top-nav__link"><img src="images/home.png" alt=""></a></li>
                    <li class="nav-item mr-lg-3"><a href="jak-to-funguje" class="top-nav__link">jak to funguje</a></li>
                    <li class="nav-item mr-lg-3"><a href="o-nas" class="top-nav__link">o nás</a></li>
                    <li class="nav-item mr-lg-3"><a href="caste-dotazy" class="top-nav__link">časté dotazy</a></li>
                    <li class="nav-item"><a href="kontakt" class="top-nav__link">kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- end top-nav -->
    
    <!-- start registrace -->

    <section class="registrace">
        <div class="header">
            <div class="container">
                <h1 class="header__h1 tt-none">Registrace</h1>
            </div>
        </div>
        <div class="container py-5">
            <div class="text-center">
                <h2 class="mb-2 tt-none">Krok 2</h2>
            </div>
            <form class="my-5">
                <div class="form-group form-row">
                    <label class="col-lg-3 col-form-label" for="bank-number">Cislo uctu:</label>
                    <div class="col-lg-6">
                        <div class="form-row">
                            <div class="col-2">
                                <input type="text" class="form-control" name="bank-number" id="bank-number" required placeholder="0000">
                            </div>
                            -
                            <div class="col">
                                <input type="text" class="form-control" name="bank-number-2" id="bank-number-2" required placeholder="000000">
                            </div>
                            /
                            <div class="col-2">
                                <input type="text" class="form-control" name="bank-number" id="bank-number" required placeholder="0000">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label class="col-lg-3 col-form-label" for="surname">Jmeno majitele uctu:</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="surname-2" id="surname-2" required>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label class="col-lg-3 col-form-label" for="evidence-number">Cislo obcanskeho prukazu:</label>
                    <div class="col-lg-6">
                        <input type="type" class="form-control" name="evidence-number" id="evidence-number" required>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label class="col-lg-3 col-form-label" for="family">Rodzinny stav:</label>
                    <div class="col-lg-6">
                        <select type="text" class="form-control" name="family" id="family" required>
                            <option value="1">Vyberte...</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label class="col-lg-3 col-form-label" for="main-adress">
                        Zadejte prosim adresu aktualniho mista trvaleho bydliste: 
                    </label>
                    <div class="col-lg-6">
                        <input type="type" class="form-control" name="main-adress" id="main-adress" required placeholder="ulice, cislo budowy / bytu">
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-lg-6 offset-lg-3">
                        <input type="type" class="form-control" name="main-adress-2" id="main-adress-2" required placeholder="kod, mesta">
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-lg-6 offset-lg-3">
                        <p class="ml-4">Dalsi postovni adresa</p>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-lg-6 offset-lg-3">
                        <input type="type" class="form-control" name="other-adress" id="other-adress" required placeholder="ulice, cislo budowy / bytu">
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-lg-6 offset-lg-3">
                        <input type="type" class="form-control" name="other-adress-2" id="other-adress-2" required placeholder="kod, mesta">
                    </div>
                </div>
                <div class="form-group form-row">
                    <label class="col-lg-3 col-form-label" for="money">Prijem (Kc):</label>
                    <div class="col-lg-6">
                        <input type="type" class="form-control" name="money" id="money" required>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label class="col-lg-3 col-form-label" for="code">Smerovaci cislo <span class="small">(PSC)</span>:</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="code" id="code" required>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label class="col-lg-3 col-form-label" for="date-1">Obvykle datum Vaseho prijmu:</label>
                    <div class="col-lg-6">
                        <select type="text" class="form-control" name="date-1" id="date-1" required>
                            <option value="1">Vyberte...</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label class="col-lg-3 col-form-label" for="work">Typ zamestnani:</label>
                    <div class="col-lg-6">
                        <select type="text" class="form-control" name="work" id="work" required>
                            <option value="1">Vyberte...</option>
                        </select>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label class="col-lg-3 col-form-label" for="employers-name">Jmeno zamestnavatele:</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="employers-name" id="employers-name" required>
                    </div>
                </div>
                <div class="form-group form-row">
                    <label class="col-lg-3 col-form-label" for="finanse">Jine financni zavazky:</label>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" name="finanse" id="finanse" required>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- end registrace -->

    <!-- start contact -->
                    
    <section class="contact contact--blue">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <a href="index.html" class="logo">
                        <img src="images/logo_2.png" alt="">
                        <span class="logo__text ml-2">plný měšec</span>
                    </a>
                    <h2 class="contact__h2 mt-3">pronto credit s.r.o</h2>
                    <p class="contact__p small mb-2">rok zalozeni 2007</p>
                    <p class="contact__p small">spolecnosc je zapsana</p>
                    <p class="contact__p small">v obchodnim rejstriku vedenem</p>
                    <p class="contact__p small">mestskym soudem v praze pod</p>
                    <p class="contact__p small">spisovou znackou c 214024</p>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <img src="images/marker_2.png" alt="">
                    <h2 class="contact__h2 mt-3">sidlo spolecnosti</h2>
                    <p class="contact__p small">rybna 716/24</p>
                    <p class="contact__p small">stare mesto</p>
                    <p class="contact__p small">110 00 praha</p>
                    <p class="contact__p small">1ic: 275 25 210</p>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <img src="images/mail_2.png" alt="" class="mt-2">
                            <h2 class="contact__h2 mt-3">e-mail adresa</h2>
                            <p class="contact__p small">info@prontopujcka.cz</p>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <img src="images/phone_2.png" alt="" class="mt-3">
                            <h2 class="contact__h2 mt-3">telefonni spojeni</h2>
                            <p class="contact__p small">+420 778 000 002</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end contact -->

    <!-- start footer -->

    <footer class="footer footer--two">
        <div class="container">
            <div class="row">
                <div class="footer__item col-lg-6">
                    systém podnikového řízení creditonline &copy;2018
                </div>
                <div class="footer__item col-lg-6">
                    <div class="row">
                        <div class="col-md-auto">
                            <a class="footer__link" href="#">polityka prywatności</a>
                        </div>
                        <div class="col-md-auto">
                            <a class="footer__link" href="#">regulamin</a>
                        </div>
                        <div class="col-md-auto">
                            <a class="footer__link" href="#">wzór umowy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- end footer -->
</body>
</html>