body {
    font-family: $secondary-font;
}

h1, h2, h3 {
    font-family: $primary-font;
    color: $color-grey-2;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 1rem;
}

.small {
    font-size: 0.85em;
    font-weight: 300;
}

.very-small {
    font-size: 0.625em;
}

p {
    line-height: 1.75em;
    color: $color-p;

    &:last-child {
        margin: 0;
    } 
}

.logo {
    display: flex;
    align-items: flex-end;
    font-size: 1.5em;
    text-transform: uppercase;

    &__text {
        color: $color-grey-2;
        margin-left: 1.5rem;
        font-weight: 700;
    }
}

.big {
    font-size: 1.25em;
}

.tt-none {
   text-transform: none; 
}