h1 {
    color: $color-grey-2 !important;
    font-weight: 900 !important;
}

.small {
    font-weight: 0.925em;
    font-weight: 300;
}

.very-small {
    font-size: 0.625em;
}

p {
    color: $color-p;
}