$color-grey: #505050 !default;
$color-grey-2: #545454 !default;
$color-p: #848484 !default;

$bg-section: #fbfaf5 !default;
$bg-purple: #6c1ed6 !default;
$bg-top-footer: #153146 !default;
$bg-bottom-footer: #010522 !default;
$bg-bottom-footer-2: #153146 !default;
$bg-input: #fafafa !default;
$bg-contact: #1b3d56 !default;

$white: #ffffff !default;

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

$primary-font: 'Roboto Condensed', sans-serif !default;
$secondary-font: 'Maven Pro', sans-serif !default;