.footer {
    font-family: $primary-font;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5.625rem;
    background: $bg-bottom-footer;
    color: $white;

    @include media-down(lg) {
        padding-bottom: 4rem;
    }

    &--two {
        padding: 1.5rem 0;
        background: $bg-bottom-footer-2;
    }

    &__top {
        padding: 1.5rem 0;
        background: $bg-top-footer;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__link {
        display: inline-block;
        color: $white;

        &:hover {
            color: $white;
            text-decoration: none;
        }
    }
}