.top-nav {
    position: relative;
    display: flex;
    justify-items: center;
    height: 90px;
    text-transform: uppercase;

    &__dropdown {
        background: $white;

        @include media-down(lg) {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 10;
            overflow: hidden;
        }
    }

    &__menu {
        @extend .container;

        @include media-up(lg) {
            margin: 0;
            padding: 0;
            width: auto;
        }
    }

    &__link {
        display: block;
        padding: 1rem;
        color: $color-grey;
        transition: transform .45s ease-in-out;
        will-change: transform;

        &:hover {
            color: darken($color-grey, 40);
            text-decoration: none;

            @include media-down(lg) {
                transform: translateX(0.5rem);
            }
        }
    }
}