.o-nas {
    &__img {
        display: block;
        margin: 0 auto 1rem;

        @include media-up(lg) {
            margin-bottom: 0;
        }
    }

    &__item {
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;

        @include media-up(lg) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        &:nth-child(2) {
            background: $bg-section;
        }
    }
} 